.myBlock {
    height: 100% ;
    padding: 20px;
}
.spaced-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.myTitle{
    text-transform: uppercase !important;
    letter-spacing: 3px !important;
}
.oculto{
    display: none !important;
}
